p{
   font-size: 22px;
   /*width: 50%;*/
   margin: 1% 5% 1% 5%;
   font-family: Luminari, fantasy;
}

img{
   height: 400px;
}
hr{
   width: 600px;
}
#whiteBox{
   width: 70%;
   margin: 0 auto;
   text-align: center;
   background-color: white;
   padding: 1%;
   border-radius: 25px;

}
body{
   background-color: gainsboro;
}
h1, h2{
   font-family: Luminari, fantasy
}